apiVersion: v1
kind: Service
metadata:
  name: coredns
spec:
  selector:
    app: coredns
  ports:
    - name: udp
      protocol: UDP
      port: 53
    - name: tcp
      protocol: TCP
      port: 53
