apiVersion: v1
kind: Service
metadata:
  name: coredns
  annotations:
    lbipam.cilium.io/ips: 192.168.20.90
    # this is the only service that won't be behind the gateways.
    # the reason is that i want to be able to change the gateway ip addresses
    # when i want. however dns needs a stable ip address.
spec:
  type: LoadBalancer
  selector:
    app: coredns
  ports:
    - name: udp
      protocol: UDP
      port: 53
    - name: tcp
      protocol: TCP
      port: 53
