apiVersion: v1
kind: Service
metadata:
  name: coredns
  annotations:
    argocd.argoproj.io/sync-wave: "20"
spec:
  selector:
    app: coredns
  ports:
    - name: udp
      protocol: UDP
      port: 53
    - name: tcp
      protocol: TCP
      port: 53
