apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 9.2.4
    namespace: argocd
    includeCRDs: true
    valuesFile: values.yaml
