cgroup: # needed for talos
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
cluster:
  name: home
  id: 1
hubble:
  metrics:
    enabled:
      - dns:query;ignoreAAAA
      - drop
      - flow
      - http
      - icmp
      - tcp
  relay:
    enabled: true
  ui:
    enabled: true
ipam:
  mode: "kubernetes" # needed for talos
k8sClientRateLimit: # needed for cilium l2announcements
  burst: 100
  qps: 50 # services * (1 / leaseRenewDeadline)
k8sServiceHost: 192.168.20.140 # set this to the kubernetes api vip. needed since replacing kube-proxy
k8sServicePort: 6443 # set this to the kubernetes api port. needed since replacing kube-proxy
kubeProxyReplacement: true # needed since replacing kube-proxy
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256 # must stay this ip and port. needed since replacing kube-proxy
l2announcements: # needed for cilium lb ipam
  enabled: true
  leaseDuration: 8s
  leaseRenewDeadline: 4s
  leaseRetryPeriod: 2s
l7Proxy: false # cilium does not need to do any layer 7 things
securityContext: # needed for talos
  capabilities:
    ciliumAgent:
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - IPC_LOCK
      - KILL
      - NET_ADMIN
      - NET_RAW
      - SETGID
      - SETUID
      - SYS_ADMIN
      - SYS_RESOURCE
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
